<a href="https://colab.research.google.com/github/armandoordonez/eda/blob/main/cincinaty_crime_dataset_cleaning_eda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np
import random as rnd

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# https://data.cincinnati-oh.gov/safety/PDI-Police-Data-Initiative-Crime-Incidents/k59e-2pvf/data

In [6]:
# set up dict of dtypes
dtypes = {'INSTANCEID': object,'INCIDENT_NO': object,'DATE_REPORTED': object,'DATE_FROM': object,'DATE_TO': object,
         'CLSD': object,'UCR': object,'DST': object,'BEAT': object,'OFFENSE': str,
         'LOCATION': object,'THEFT_CODE': object,'FLOOR': object,'SIDE': object,
         'OPENING': object,'HATE_BIAS': object,'DAYOFWEEK' : object,
         'RPT_AREA': object,'CPD_NEIGHBORHOOD': object,'WEAPONS': object,'DATE_OF_CLEARANCE': object,'HOUR_FROM': object,'HOUR_TO': object,'ADDRESS_X': object,'LONGITUDE_X': object,
         'LATITUDE_X': object,'VICTIM_AGE': object,'VICTIM_RACE': object,'VICTIM_ETNICITY': object,'VICTIM_GENDER': object,'SUSPECT_AGE': object,'SUSPECT_RACE': object,'SUSPECT_ETNICITY': object,'SUSPECT_GENDER': object,'TOTALNUMBERVICTIMS': object,'TOTALSUSPECTS': object,'UCR_GROUP': object,'ZIP': object,'COM_COUNCIL_NEIGHBORHOOD': object,'SNA_NEIGHBORHOOD':object}

# set up column names
colnames = ['INSTANCEID','INCIDENT_NO','DATE_REPORTED','DATE_FROM','DATE_TO',
            'CLSD','UCR','DST','BEAT','OFFENSE','LOCATION','THEFT_CODE','FLOOR','SIDE','OPENING','HATE_BIAS','DAYOFWEEK'
            ,'RPT_AREA','CPD_NEIGHBORHOOD','WEAPONS','DATE_OF_CLEARANCE','HOUR_FROM','HOUR_TO','ADDRESS_X','LONGITUDE_X'
            ,'LATITUDE_X','VICTIM_AGE','VICTIM_RACE','VICTIM_ETNICITY','VICTIM_GENDER','SUSPECT_AGE','SUSPECT_RACE','SUSPECT_ETNICITY','SUSPECT_GENDER','TOTALNUMBERVICTIMS','TOTALSUSPECTS','UCR_GROUP','ZIP','COM_COUNCIL_NEIGHBORHOOD','SNA_NEIGHBORHOOD']

len(colnames)

40

In [7]:
# set limit of the records to retrieve
srow = 1
nrows = 10

df = pd.read_csv('/content/drive/MyDrive/eda/Crime_Incidents.csv', skiprows=srow, nrows=nrows, header=None,names=colnames, dtype=dtypes)
df.head(5)

,INSTANCEID,INCIDENT_NO,DATE_REPORTED,DATE_FROM,DATE_TO,CLSD,UCR,DST,BEAT,OFFENSE,...,SUSPECT_AGE,SUSPECT_RACE,SUSPECT_ETNICITY,SUSPECT_GENDER,TOTALNUMBERVICTIMS,TOTALSUSPECTS,UCR_GROUP,ZIP,COM_COUNCIL_NEIGHBORHOOD,SNA_NEIGHBORHOOD
0,BD851313-FD57-40B5-B7D9-67CFF1084FDE,229028734,10/26/2022 02:47:00 PM,07/01/2022 12:00:00 AM,10/26/2022 02:15:00 PM,NaN,600,4,5,THEFT,...,UNKNOWN,NaN,NaN,NaN,1,NaN,THEFT,45237,BOND HILL,BOND HILL
1,A2BB5A67-689A-45CE-A6D6-2E1D9633DE80,229028729,10/26/2022 02:35:49 PM,10/26/2022 01:54:00 PM,10/26/2022 02:10:00 PM,F--CLEARED BY ARREST - ADULT,600,3,3,THEFT,...,UNKNOWN,NaN,NaN,NaN,1,NaN,THEFT,45211,WESTWOOD,WESTWOOD
2,FF5106AF-F260-419F-83E7-0E9142096653,229028730,10/26/2022 02:18:00 PM,10/26/2022 02:15:00 PM,10/26/2022 02:16:00 PM,F--CLEARED BY ARREST - ADULT,301,CENTRAL BUSINESS,1,ROBBERY,...,UNKNOWN,NaN,NaN,NaN,1,NaN,ROBBERY,45202,NaN,NaN
3,83943E8F-4056-4748-A2E6-35DA2A4DCA69,229028728,10/26/2022 02:04:00 PM,10/25/2022 12:00:00 AM,10/25/2022 01:00:00 PM,I--INVESTIGATION PENDING,552,4,3,BREAKING AND ENTERING,...,UNKNOWN,UNKNOWN,UNKNOWN,UNKNOWN,1,1,BURGLARY/BREAKING ENTERING,45219,AVONDALE,AVONDALE
4,C47D556E-1B77-4221-B65A-9E22A1110351,229028747,10/26/2022 02:00:00 PM,10/26/2022 01:00:00 PM,10/26/2022 01:23:00 PM,I--INVESTIGATION PENDING,600,1,2,THEFT,...,UNKNOWN,BLACK,NOT OF HISPANIC ORIG,MALE,1,1,THEFT,45202,PENDLETON,PENDLETON

In [9]:
df.dtypes

INSTANCEID                  object
INCIDENT_NO                 object
DATE_REPORTED               object
DATE_FROM                   object
DATE_TO                     object
CLSD                        object
UCR                         object
DST                         object
BEAT                        object
OFFENSE                     object
LOCATION                    object
THEFT_CODE                  object
FLOOR                       object
SIDE                        object
OPENING                     object
HATE_BIAS                   object
DAYOFWEEK                   object
RPT_AREA                    object
CPD_NEIGHBORHOOD            object
WEAPONS                     object
DATE_OF_CLEARANCE           object
HOUR_FROM                   object
HOUR_TO                     object
ADDRESS_X                   object
LONGITUDE_X                 object
LATITUDE_X                  object
VICTIM_AGE                  object
VICTIM_RACE                 object
VICTIM_ETNICITY             object
VICTIM_GENDER               object
SUSPECT_AGE                 object
SUSPECT_RACE                object
SUSPECT_ETNICITY            object
SUSPECT_GENDER              object
TOTALNUMBERVICTIMS          object
TOTALSUSPECTS               object
UCR_GROUP                   object
ZIP                         object
COM_COUNCIL_NEIGHBORHOOD    object
SNA_NEIGHBORHOOD            object
dtype: object

Mounted at /content/drive

In [ ]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7125756 entries, 0 to 7125755
Data columns (total 22 columns):
 #   Column                Dtype
---  ------                -----
 0   ID                    int64
 1   Case Number           object
 2   Date                  object
 3   Block                 object
 4   IUCR                  object
 5   Primary Type          object
 6   Description           object
 7   Location Description  object
 8   Arrest                bool
 9   Domestic              bool
 10  Beat                  int64
 11  District              float64
 12  Ward                  float64
 13  Community Area        float64
 14  FBI Code              object
 15  X Coordinate          float64
 16  Y Coordinate          float64
 17  Year                  int64
 18  Updated On            object
 19  Latitude              float64
 20  Longitude             float64
 21  Location              object
dtypes: bool(2), float64(7), int64(3), object(10)
memory usage: 1.1+ GB

Dropping columns with no bearing to crime and beat:

In [ ]:
raw_data = raw_data.drop(['ID', 'Case Number', 'Date', 'IUCR', 'X Coordinate', 'Y Coordinate', 'Updated On','Latitude', 'Longitude', 'Location'], axis = 1)

In [ ]:
raw_data.head()

,Block,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,FBI Code,Year,Updated On
0,016XX E 86TH PL,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,412,4.0,8.0,45.0,11,2001,08/05/2017 03:50:08 PM
1,092XX S RACINE AVE,CRIM SEXUAL ASSAULT,NON-AGGRAVATED,RESIDENCE,False,False,2222,22.0,21.0,73.0,02,2017,02/11/2018 03:57:41 PM
2,026XX W 79TH ST,BURGLARY,UNLAWFUL ENTRY,OTHER,False,False,835,8.0,18.0,70.0,05,2017,02/11/2018 03:57:41 PM
3,060XX S EBERHART AVE,THEFT,OVER $500,RESIDENCE,False,False,313,3.0,20.0,42.0,06,2017,02/11/2018 03:57:41 PM
4,001XX W RANDOLPH ST,CRIM SEXUAL ASSAULT,NON-AGGRAVATED,HOTEL/MOTEL,False,False,122,1.0,42.0,32.0,02,2017,02/11/2018 03:57:41 PM

In [ ]:
raw_data.describe()

               Beat      District          Ward  Community Area          Year
count  7.125756e+06  7.125709e+06  6.510929e+06    6.512271e+06  7.125756e+06
mean   1.189106e+03  1.129553e+01  2.271014e+01    3.755007e+01  2.008891e+03
std    7.031086e+02  6.946027e+00  1.383451e+01    2.153572e+01  5.439426e+00
min    1.110000e+02  1.000000e+00  1.000000e+00    0.000000e+00  2.001000e+03
25%    6.220000e+02  6.000000e+00  1.000000e+01    2.300000e+01  2.004000e+03
50%    1.111000e+03  1.000000e+01  2.200000e+01    3.200000e+01  2.008000e+03
75%    1.731000e+03  1.700000e+01  3.400000e+01    5.700000e+01  2.013000e+03
max    2.535000e+03  3.100000e+01  5.000000e+01    7.700000e+01  2.020000e+03

In [ ]:
raw_data.describe(include=[np.object])

,Block,Primary Type,Description,Location Description,FBI Code,Updated On
count,7125756,7125756,7125756,7119005,7125756,7125756
unique,60939,36,517,212,26,3459
top,100XX W OHARE ST,THEFT,SIMPLE,STREET,06,02/10/2018 03:50:01 PM
freq,15667,1506732,839446,1852489,1506732,2789100

In [ ]:
raw_data.describe(include=[np.bool])

         Arrest Domestic
count   7125756  7125756
unique        2        2
top       False    False
freq    5175134  6176078

We need to ennumerate the data for Arrest and Domestic numerically now. We will let 0 represent False and 1 represent True

In [ ]:
raw_data['Arrest'] = raw_data['Arrest'].map( {True: 1, False: 0} ).astype(int)
raw_data['Domestic'] = raw_data['Domestic'].map( {True: 1, False: 0} ).astype(int)

In [ ]:
raw_data.head()

,Block,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,FBI Code,Year,Updated On
0,016XX E 86TH PL,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,0,0,412,4.0,8.0,45.0,11,2001,08/05/2017 03:50:08 PM
1,092XX S RACINE AVE,CRIM SEXUAL ASSAULT,NON-AGGRAVATED,RESIDENCE,0,0,2222,22.0,21.0,73.0,02,2017,02/11/2018 03:57:41 PM
2,026XX W 79TH ST,BURGLARY,UNLAWFUL ENTRY,OTHER,0,0,835,8.0,18.0,70.0,05,2017,02/11/2018 03:57:41 PM
3,060XX S EBERHART AVE,THEFT,OVER $500,RESIDENCE,0,0,313,3.0,20.0,42.0,06,2017,02/11/2018 03:57:41 PM
4,001XX W RANDOLPH ST,CRIM SEXUAL ASSAULT,NON-AGGRAVATED,HOTEL/MOTEL,0,0,122,1.0,42.0,32.0,02,2017,02/11/2018 03:57:41 PM

Primary Type is the type of crime committed...let's see what different types of crimes there are:

In [ ]:
raw_data['Primary Type'].unique()

array(['DECEPTIVE PRACTICE', 'CRIM SEXUAL ASSAULT', 'BURGLARY', 'THEFT',
       'OFFENSE INVOLVING CHILDREN', 'CRIMINAL DAMAGE', 'OTHER OFFENSE',
       'SEX OFFENSE', 'CRIMINAL SEXUAL ASSAULT', 'BATTERY', 'ASSAULT',
       'NARCOTICS', 'MOTOR VEHICLE THEFT', 'ROBBERY', 'CRIMINAL TRESPASS',
       'WEAPONS VIOLATION', 'OBSCENITY', 'LIQUOR LAW VIOLATION',
       'PROSTITUTION', 'NON-CRIMINAL', 'PUBLIC PEACE VIOLATION',
       'INTIMIDATION', 'ARSON', 'INTERFERENCE WITH PUBLIC OFFICER',
       'GAMBLING', 'STALKING', 'KIDNAPPING', 'OTHER NARCOTIC VIOLATION',
       'CONCEALED CARRY LICENSE VIOLATION', 'HOMICIDE', 'RITUALISM',
       'HUMAN TRAFFICKING', 'PUBLIC INDECENCY', 'NON - CRIMINAL',
       'NON-CRIMINAL (SUBJECT SPECIFIED)', 'DOMESTIC VIOLENCE'],
      dtype=object)

We must make a delineation between what is a "relevant" crime to use and what isn't...

Now, let's look at Location Description and ennumerate it:

In [ ]:
raw_data['Location Description'].unique()

array(['RESIDENCE', 'OTHER', 'HOTEL/MOTEL', nan, 'APARTMENT', 'SIDEWALK',
       'PARKING LOT/GARAGE(NON.RESID.)', 'RESIDENCE-GARAGE',
       'HOSPITAL BUILDING/GROUNDS', 'BANK', 'RESTAURANT',
       'DAY CARE CENTER', 'SCHOOL, PUBLIC, BUILDING', 'STREET',
       'AIRPORT BUILDING NON-TERMINAL - SECURE AREA',
       'RESIDENCE PORCH/HALLWAY', 'RESIDENTIAL YARD (FRONT/BACK)',
       'BAR OR TAVERN', 'AIRPORT TERMINAL LOWER LEVEL - NON-SECURE AREA',
       'DEPARTMENT STORE', 'ALLEY', 'VEHICLE NON-COMMERCIAL',
       'GOVERNMENT BUILDING/PROPERTY', 'AUTO / BOAT / RV DEALERSHIP',
       'VACANT LOT/LAND', 'WAREHOUSE', 'POOL ROOM',
       'COMMERCIAL / BUSINESS OFFICE', 'POLICE FACILITY/VEH PARKING LOT',
       'PARK PROPERTY', 'MEDICAL/DENTAL OFFICE', 'BOAT/WATERCRAFT',
       'GROCERY FOOD STORE', 'CTA STATION', 'CONVENIENCE STORE',
       'ATHLETIC CLUB', 'SMALL RETAIL STORE', 'AIRPORT/AIRCRAFT',
       'ANIMAL HOSPITAL', 'ATM (AUTOMATIC TELLER MACHINE)', 'CTA BUS',
       'CURRENCY EXCHANGE', 'DRIVEWAY - RESIDENTIAL',
       'AIRPORT TERMINAL UPPER LEVEL - NON-SECURE AREA',
       'CONSTRUCTION SITE', 'SPORTS ARENA/STADIUM',
       'FACTORY/MANUFACTURING BUILDING', 'LIBRARY', 'GAS STATION',
       'CTA PLATFORM', 'CTA TRAIN', 'CHURCH/SYNAGOGUE/PLACE OF WORSHIP',
       'AIRPORT VENDING ESTABLISHMENT', 'SCHOOL, PRIVATE, BUILDING',
       'NURSING HOME/RETIREMENT HOME', 'BRIDGE', 'PAWN SHOP',
       'OTHER RAILROAD PROP / TRAIN DEPOT', 'CHA PARKING LOT/GROUNDS',
       'CTA GARAGE / OTHER PROPERTY', 'COLLEGE/UNIVERSITY GROUNDS',
       'CAR WASH', 'AIRPORT EXTERIOR - NON-SECURE AREA',
       'JAIL / LOCK-UP FACILITY', 'ABANDONED BUILDING',
       'SCHOOL, PUBLIC, GROUNDS',
       'AIRPORT TERMINAL UPPER LEVEL - SECURE AREA', 'AIRCRAFT',
       'DRUG STORE', 'TAVERN/LIQUOR STORE', 'CHA APARTMENT',
       'LAKEFRONT/WATERFRONT/RIVERBANK',
       'AIRPORT BUILDING NON-TERMINAL - NON-SECURE AREA',
       'OTHER COMMERCIAL TRANSPORTATION', 'HIGHWAY/EXPRESSWAY',
       'CHA HALLWAY/STAIRWELL/ELEVATOR', 'SCHOOL, PRIVATE, GROUNDS',
       'TAXICAB', 'VEHICLE-COMMERCIAL', 'CLEANING STORE',
       'APPLIANCE STORE', 'FIRE STATION', 'DELIVERY TRUCK',
       'COLLEGE/UNIVERSITY RESIDENCE HALL', 'CREDIT UNION',
       'FEDERAL BUILDING', 'CTA BUS STOP', 'MOVIE HOUSE/THEATER',
       'AIRPORT EXTERIOR - SECURE AREA', 'BARBERSHOP', 'SAVINGS AND LOAN',
       'AIRPORT PARKING LOT',
       'AIRPORT TERMINAL LOWER LEVEL - SECURE AREA', 'CEMETARY',
       'AIRPORT TRANSPORTATION SYSTEM (ATS)', 'BOWLING ALLEY',
       'NEWSSTAND', 'VEHICLE - OTHER RIDE SERVICE',
       'COIN OPERATED MACHINE',
       'AIRPORT TERMINAL MEZZANINE - NON-SECURE AREA', 'FOREST PRESERVE',
       'VEHICLE - OTHER RIDE SHARE SERVICE (E.G., UBER, LYFT)',
       'SCHOOL - PUBLIC BUILDING', 'VEHICLE - DELIVERY TRUCK',
       'SCHOOL - PRIVATE BUILDING',
       'PARKING LOT / GARAGE (NON RESIDENTIAL)',
       'CTA TRACKS - RIGHT OF WAY', 'RESIDENCE - PORCH / HALLWAY',
       'PARKING LOT', 'OTHER (SPECIFY)', 'PORCH', 'HOUSE', 'AUTO',
       'MEDICAL / DENTAL OFFICE', 'RETAIL STORE',
       'CHURCH / SYNAGOGUE / PLACE OF WORSHIP', 'CHA PARKING LOT',
       'CHA GROUNDS', 'YARD', 'LAKEFRONT / WATERFRONT / RIVERBANK',
       'KENNEL', 'FARM', 'VEHICLE-COMMERCIAL - TROLLEY BUS',
       'RESIDENCE - YARD (FRONT / BACK)', 'VACANT LOT / LAND',
       'RAILROAD PROPERTY', 'RESIDENCE - GARAGE',
       'HOSPITAL BUILDING / GROUNDS', 'NURSING / RETIREMENT HOME',
       'VACANT LOT', 'CTA "L" PLATFORM', 'CHA PARKING LOT / GROUNDS',
       'TRAILER', 'BOAT / WATERCRAFT', 'VEHICLE - COMMERCIAL',
       'HOTEL / MOTEL', 'SCHOOL - PUBLIC GROUNDS', 'GANGWAY',
       'BARBER SHOP/BEAUTY SALON', 'GARAGE', 'HOTEL', 'STAIRWELL',
       'SCHOOL YARD', 'VEHICLE-COMMERCIAL - ENTERTAINMENT/PARTY BUS',
       'POLICE FACILITY / VEHICLE PARKING LOT', 'HALLWAY',
       'VEHICLE - OTHER RIDE SHARE SERVICE (LYFT, UBER, ETC.)',
       'CTA SUBWAY STATION', 'HORSE STABLE',
       'COLLEGE / UNIVERSITY - GROUNDS', 'DRIVEWAY',
       'TAVERN / LIQUOR STORE', 'GOVERNMENT BUILDING / PROPERTY',
       'OFFICE', 'CHA HALLWAY / STAIRWELL / ELEVATOR',
       'FACTORY / MANUFACTURING BUILDING', 'CLUB',
       'CTA PARKING LOT / GARAGE / OTHER PROPERTY',
       'OTHER RAILROAD PROPERTY / TRAIN DEPOT', 'CTA PROPERTY',
       'VESTIBULE', 'COLLEGE / UNIVERSITY - RESIDENCE HALL',
       'GAS STATION DRIVE/PROP.', 'MOVIE HOUSE / THEATER',
       'SPORTS ARENA / STADIUM', 'SCHOOL - PRIVATE GROUNDS',
       'HIGHWAY / EXPRESSWAY', 'LIQUOR STORE', 'TAXI CAB', 'CHA HALLWAY',
       'WOODED AREA', 'COUNTY JAIL', 'TAVERN', 'COACH HOUSE', 'DUMPSTER',
       'YMCA', 'BASEMENT', 'CHA STAIRWELL', 'CHURCH PROPERTY',
       'CHA ELEVATOR', 'SEWER', 'LIVERY STAND OFFICE',
       'GARAGE/AUTO REPAIR', 'CHURCH', 'CHA BREEZEWAY', 'TRUCK',
       'CHA LOBBY', 'PRAIRIE', 'PUBLIC GRAMMAR SCHOOL', 'RIVER',
       'JUNK YARD/GARBAGE DUMP', 'FUNERAL PARLOR', 'RIVER BANK',
       'NURSING HOME', 'MOTEL', 'LAKE', 'CHA PLAY LOT',
       'PUBLIC HIGH SCHOOL', 'GOVERNMENT BUILDING', 'CTA "L" TRAIN',
       'ELEVATOR', 'POOLROOM', 'LAUNDRY ROOM', 'CLEANERS/LAUNDROMAT',
       'EXPRESSWAY EMBANKMENT', 'HOSPITAL', 'LAGOON', 'TRUCKING TERMINAL',
       'ROOMING HOUSE', 'FACTORY', 'LIVERY AUTO', 'BANQUET HALL',
       'LOADING DOCK'], dtype=object)